@use '../../mixin' as mixin;
@use '../../variables' as v;
@forward './aside';
@forward './header';
@forward '../../components/table';
.container.admin-wrapper {
  padding: 0;
  @include mixin.flexboxLayout(row, 0rem, space-between, start);
  aside {
    height: 100vh;
    background-color: v.$color_primary;
    flex-basis: 14%;
    padding: 1rem;
    max-width: 20%;
  }
  .content {
    flex-basis: calc(86% - 2rem);
    .admin-header {
      padding: 1rem 2rem;
      color: v.$color_secondary;
      h1 {
        font-size: 2.4rem;
      }
    }
  }
}
