// breakpoints
$screen_xs_max: 575.98px;
$screen_sm_min: 576px;
$screen_sm_max: 767.98px;
$screen_md_min: 768px;
$screen_md_max: 991.98px;
$screen_lg_min: 992px;
$screen_lg_max: 1199.98px;
$screen_xl: 1200px;

// color
$color_primary: #ffb6c1;
$color_secondary: #f08080;
$color_white: #fff;
