header {
  position: sticky;
  top: 0;
}
header nav {
  padding: 0rem 6.4rem;
  min-height: 2rem;
  background-color: #f5d1d7;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 3.2rem;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  width: 12rem;
  height: 12rem;
}
header nav .logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
header nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 3.2rem;
  justify-content: end;
  align-items: center;
}
header nav ul li {
  min-width: 6rem;
}
header nav ul li a {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.btn {
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: #f08080;
  color: #fff;
  min-width: 10rem;
  transition: all 0.2s;
  border-radius: 0.4rem;
  font-weight: 600;
  border: 1px solid transparent;
}
.btn:hover {
  background-color: #fff;
  color: #f5d1d7;
}
.btn--primary {
  background-color: #f5d1d7;
}
.btn--primary:hover {
  background-color: #fff;
  color: #f5d1d7;
  border: 1px solid #f5d1d7;
}
.btn--danger {
  background-color: #e74c3c;
}
.btn--danger:hover {
  background-color: #fff;
  color: #e74c3c;
  border: 1px solid #e74c3c;
}
.btn--warning {
  background-color: #f39c12;
}
.btn--warning:hover {
  background-color: #fff;
  color: #f39c12;
  border: 1px solid #f39c12;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.product-list {
  max-width: 100%;
}
.product-list .item {
  border: 1px solid #f5d1d7;
  padding: 1.6rem;
}
.product-list .item h2 {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}
.product-list .item p {
  font-size: 1.6rem;
  margin: 0;
  min-height: 10rem;
}
.product-list .item span {
  font-size: 1.2rem;
  color: #f08080;
}
@media (min-width: 0) and (max-width: 575.98px) {
  .product-list {
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .product-list {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-list {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .product-list {
    display: grid;
    gap: 2.4rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) {
  .product-list {
    display: grid;
    gap: 3.2rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

.filter-wrapper {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: end;
}
.filter-wrapper form.admin-searchbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: start;
  align-items: center;
}
.filter-wrapper form.admin-searchbox .group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: start;
  align-items: start;
  font-size: 1.4rem;
}
.filter-wrapper form.admin-searchbox .group label {
  text-transform: capitalize;
}
.filter-wrapper form.admin-searchbox .group input,
.filter-wrapper form.admin-searchbox .group select {
  font-size: 1.4rem;
  height: 3.2rem;
  min-width: 20rem;
  display: block;
  border-radius: 0.4rem;
  padding: 0 0.8rem;
  border: 0.16rem solid #34495e;
}

.form-auth {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #f08080;
  padding: 3.2rem;
  border-radius: 0.8rem;
}
.form-auth form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.form-auth form .form-group {
  min-width: 100%;
}
.form-auth form .form-group h1 {
  font-size: 2.4rem;
}
.form-auth form .form-group label {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
}
.form-auth form .form-group input {
  border-radius: 0.4rem;
  padding: 0 1rem;
  font-size: 1.6rem;
  height: 4.4rem;
  width: 100%;
}
.form-auth form .form-group span {
  display: block;
  font-size: 1.2rem;
  min-height: 2rem;
}
.form-auth form .form-group.flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.form-auth form .form-group.flex-column a {
  font-size: 1.4rem;
  color: #f08080;
}

aside nav .logo {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
}
aside nav .logo img {
  height: auto;
  max-width: 100%;
  object-fit: contain;
}
aside nav ul li {
  font-size: 2rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid #fff;
  transition: all 0.2s;
}
aside nav ul li a {
  color: #fff;
  text-decoration: none;
}
aside nav ul li:last-child {
  border-bottom: none;
}
aside nav ul li:hover {
  background-color: #fff;
}
aside nav ul li:hover a {
  color: #f5d1d7;
}

.admin-header h1 {
  position: relative;
}
.admin-header h1::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 10rem;
  height: 0.4rem;
  background-color: #f08080;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.4rem;
  justify-content: end;
  align-items: center;
}
.pagination-list .item {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid #ddd;
  text-align: center;
  font-weight: 700;
  transition: all 0.2s;
  cursor: pointer;
}
.pagination-list .item.active, .pagination-list .item:hover {
  color: #fff;
  background-color: #f08080;
  border: 1px solid #f08080;
}

.table-component {
  width: calc(100% - 3.2rem);
  margin: 0 1.6rem;
  table-layout: auto;
  border-collapse: collapse;
}
.table-component.cake-table th:first-child,
.table-component.cake-table td:first-child {
  width: 6%;
}
.table-component.cake-table th:nth-child(2),
.table-component.cake-table td:nth-child(2) {
  width: 40%;
}
.table-component.cake-table th:nth-child(4), .table-component.cake-table th:nth-child(3),
.table-component.cake-table td:nth-child(4),
.table-component.cake-table td:nth-child(3) {
  width: 10%;
}
.table-component.cake-table th:last-child,
.table-component.cake-table td:last-child {
  width: 15%;
  text-align: center;
}
.table-component th,
.table-component td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}
.table-component th {
  background-color: #f08080;
  color: #fff;
}
.table-component tfoot tr td {
  border: none;
  text-align: right !important;
  padding: 0.8rem 0;
}

.container.admin-wrapper {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0rem;
  justify-content: space-between;
  align-items: start;
}
.container.admin-wrapper aside {
  height: 100vh;
  background-color: #f5d1d7;
  flex-basis: 14%;
  padding: 1rem;
  max-width: 20%;
}
.container.admin-wrapper .content {
  flex-basis: calc(86% - 2rem);
}
.container.admin-wrapper .content .admin-header {
  padding: 1rem 2rem;
  color: #f08080;
}
.container.admin-wrapper .content .admin-header h1 {
  font-size: 2.4rem;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 62.5%;
  box-sizing: border-box;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* width and height for the scrollbar track */
  /* background color for the scrollbar track */
  /* scrollbar thumb */
  /* scrollbar thumb on hover */
  width: 100%;
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
html ::-webkit-scrollbar-track,
body ::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}
html ::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 1rem;
}
html ::-webkit-scrollbar-thumb:hover,
body ::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

main {
  min-height: calc(100vh - 6rem);
}

.txt-error {
  color: #e74c3c;
}

@media (min-width: 0px) and (max-width: 575.98px) {
  .container {
    padding: 1.6rem;
    max-width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    padding: 1.6rem;
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    padding: 2.4rem;
    max-width: 99.2rem;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    padding: 3.2rem;
    max-width: 120rem;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 6.4rem;
    max-width: 192rem;
  }
}

/*# sourceMappingURL=style.css.map */
