aside(class='admin') 
    nav
        div(class="logo")
            img(src='/images/logo.png', alt="logo")
        ul 
            li  
                a( href="/")  Cake 
            li 
                a( href="./logout") logout 

