aside(class='admin') 
    nav
        div(class="logo")
            img(src='/public/images/logo.png', alt="logo")
        ul 
            li  
                a( href="/admin/cake")  Cake 
            li 
                a( href="./logout") logout 

