html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Cache-control" content="no-cache")
        title Cake store
        link(rel="stylesheet", href="style.css")
    body 
        include ../components/common/header.pug
        main(class="container")
            block content 
        include ../components/common/footer.pug
    block script