extends layout.pug

block content 
    div(class="form-auth")
        form(action="" method="POST")
            div(class="form-group")
                h1 Login Page
            div(class="form-group")
                label(for="email") Username
                input(type="email" name="email" id="email" required)
            div(class="form-group")
                label(for="password") Password 
                input(type="password" name="password" id="password" required)
            div(class="form-group flex-column")
                button(class="btn") Login 
                a(href="/register") Register  