@use '../mixin' as mixin;
@use '../variables' as v;
.product-list {
  max-width: 100%;
  .item {
    border: 1px solid v.$color_primary;
    padding: 1.6rem;
    border-radius: .8rem;
    h2 {
      font-size: 2rem;
      margin-bottom: 1.2rem;
    }
    p {
      font-size: 1.6rem;
      margin: 0;
      min-height: 10rem;
    }
    .image-box{
      width: 200px;
      height: 200px;
      margin: 0 auto;
      text-align: center;
      img{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
    span {
      font-size: 1.2rem;
      color: v.$color_secondary;
    }
  }

  @media (min-width: 0) and (max-width: v.$screen_xs_max) {
    @include mixin.gridLayout(0.8rem, 1);
  }

  @media (min-width: v.$screen_sm_min) and (max-width: v.$screen_sm_max) {
    @include mixin.gridLayout(1.6rem, 2);
  }

  @media (min-width: v.$screen_md_min) and (max-width: v.$screen_md_max) {
    @include mixin.gridLayout(1.6rem, 3);
  }

  @media (min-width: v.$screen_lg_min) and (max-width: v.$screen_lg_max) {
    @include mixin.gridLayout(2.4rem, 4);
  }

  @media (min-width: v.$screen_xl) {
    @include mixin.gridLayout(3.2rem, 4);
  }
}
