header 
    nav
        div(class="logo")
            img(src='/public/images/logo.png', alt="logo")
        ul 
            li  
                a( href="/")  Home 
            li 
                a( href="/about")  about 
            li 
                a( href="/product")  product 
            li 
                if user && !user.username || !user
                    a(class="btn" href="./login") login
                else if  user && user.username
                    a(class="btn" href="./logout") logout 
            if user && user.is_admin 
                li 
                    a(class="btn" href="./admin") setting     
            else if user && !user.is_admin
                li 
                    a(class="btn") profile
