header 
    nav
        ul 
            li home
            li about
            li product
            li 
                button(class="btn")  login 
            li 
                button(class="btn")  profile